name: Presubmit
on:
  push:
    branches:
      - main
  pull_request:

jobs:
  format:
    name: Code formatting check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Check format
        shell: bash
        run: |
          set -x
          find -name *.rs -exec rustfmt {} \+
          git diff --exit-code
  build:
    name: Test ${{ matrix.project }}
    needs: format
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        project: [OpenCL, fwupd, mesa, angle, unittests, external-project]
    steps:
      - uses: actions/checkout@v5
        with:
          fetch-depth: 0
      - name: Setup Ninja
        shell: bash
        run: |
          set -x
          sudo apt install ninja-build
      - name: Setup environement variables
        shell: bash
        run: |
          set -x
          key_folders=".github/workflows/*.yml"
          if [ "${{ matrix.project }}" == "OpenCL" ]; then
            projects="clvk clspv llvm-project SPIRV-Tools SPIRV-Headers OpenCL-CTS OpenCL-ICD-Loader OpenCL-Headers clpeak"
          elif [ "${{ matrix.project }}" == "fwupd" ]; then
            key_folders="${key_folders} tests/fwupd/build.ninja"
            projects="fwupd"
            echo "prefix=N2S_NDK=android-ndk-r27c" >> $GITHUB_ENV
          elif [ "${{ matrix.project }}" == "mesa" ]; then
            projects="mesa3d/desktop-intel mesa3d/desktop-panvk"
          elif [ "${{ matrix.project }}" == "angle" ]; then
            key_folders="${key_folders} tests/angle/build-*"
            projects="angle"
          elif [ "${{ matrix.project }}" == "external-project" ]; then
            echo "extra_args=--ext-proj-path ${{ github.workspace }}/tests/external-project/project.rs" >> $GITHUB_ENV
          elif [ "${{ matrix.project }}" == "unittests" ]; then
            projects="unittests"
          fi
          android="$(realpath ${{ github.workspace }}/../android)"
          mkdir -p "${android}"
          for project in ${projects}
          do
            key_folders="${key_folders} scripts/${project}/* tests/${project}/checkout.sh"
          done
          echo "key=$(git log -1 --format='%h' ${key_folders})-${{ matrix.project }}" >> $GITHUB_ENV
          echo "projects=${projects}" >> $GITHUB_ENV
          echo "android=${android}" >> $GITHUB_ENV
          echo "tmp_dir=$(realpath ${{ github.workspace }}/../tmp)" >> $GITHUB_ENV
      - name: Get repositories from cache
        id: checkout-repositories
        uses: actions/cache@v4
        with:
          path: ${{ env.tmp_dir }}
          key: ${{ env.key }}
      - name: Tests w/o cache
        if: steps.checkout-repositories.outputs.cache-hit != 'true'
        shell: bash
        env:
          N2S_TMP_PATH: ${{ env.tmp_dir }}
          N2S_NDK_PATH: ${{ env.android }}
        run: |
          set -x
          for checkout in ${{ env.projects }}
          do
            bash "tests/${checkout}/checkout.sh" "${{ env.android }}"
          done
          ${{ env.prefix }} cargo run --features debug_project --release -- --skip-build --aosp-path "${{ env.android }}" ${{ env.projects }} ${{ env.extra_args }}
      - name: Tests w/ cache
        if: steps.checkout-repositories.outputs.cache-hit == 'true'
        shell: bash
        env:
          N2S_TMP_PATH: ${{ env.tmp_dir }}
          N2S_NDK_PATH: ${{ env.android }}
        run: |
          set -x
          ${{ env.prefix }} cargo run --features debug_project --release -- --skip-gen-ninja --aosp-path "${{ env.android }}" ${{ env.projects }} ${{ env.extra_args }}
      - name: Check generated files
        shell: bash
        run: |
          set -x
          git diff --exit-code
